.abcBox{
  margin-top: 100px;

}

.alphabetsIndex{
  margin: 5px;
  padding: 10px;
  border: 3px solid pink;
  display: inline-block;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px purple;
  
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
.lettersIndex {  
  width: 100px;
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.lettersIndex:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}