.mainGame{
  margin-top: 6rem;
  border: 3px solid red;
}

.matchingGame{
  display: flex;
}

.matchingGame div{
  display: inline-block;
  text-align: center;
}

.guessImage{
  width: 20rem;
  background-color: white;
  border: 3px solid red;
}

.WrongGuessingWords{
  border: 3px solid red;
  width: 8rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}