.game{
  margin-top: 8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid red;
}

.cardGrid{
  border: 3px solid red;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

