.game{
  margin-top: 8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid red;
  height: 80vw;
}

.cardGrid{
  border: 3px solid red;
  height: 50%;
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: clamp(2rem, 6vw, 7rem);
  background-color: pink;
  border-radius: 10px;

}

