.card{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  /* font-size: 3em; */
}

.card img{
  width: 10vw;
  height: auto;
  display: block;
  border: 3px solid orange;
  border-radius: 6px;
  background-color: white;
}

.card .front{
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;

}

.flipped .front{
  transform: rotateY(0deg);
  transition-delay: 0.2s;

}

.card .back{
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}
