.kidsTube{
  /* border: 3px solid red; */
  width: 100vw;
  display: flew;
  justify-content: space-between;
  margin-top: 6rem;
  text-align: center;

}

.v1, .v2, .v3, .v4{
  display: inline-block;
  margin: 2rem;
}