

.wordShow{
  margin-top: 8rem;
  display: flex;
  flex-direction: row;

}

.wordShow div{
  /* border: 3px solid red; */
  display: inline-block;
  width: 50%;
}

.rightShowCard{
  border: 3px solid red;
  padding: 0.5rem;
  text-align: center;
  margin: 0 1rem 0 0.5rem;
}

.leftLetter{
  margin: 0 0.5rem 0 1rem;
  border: 3px solid red;

}

.itemShowImage{
  /* border: 3px solid red; */
  width: 80%;
}

.letterShowImage{
  width: 100%;
}

