
.backButton{
  margin-top: 6rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 30px;
  cursor: pointer;
  width: 7rem;
  text-align: center;
  border: 3px solid black;
  border-radius: 0.2rem;
  background-color: white;
}

.backButton:hover{
  background-color: greenyellow;
}

.wordShow{
  display: flex;
  flex-direction: row;

}

.wordShow div{
  /* border: 3px solid red; */
  display: inline-block;
  width: 50%;
}

.rightShowCard{
  border: 5px solid rgb(176, 21, 214);
  border-radius: 10px;
  padding: 0.7rem;
  text-align: center;
  margin: 0 1rem 0 0.5rem;
  box-shadow: 5px 5px black;
  background-color: white;
}

.leftLetter{
  margin: 0 0.5rem 0 1rem;
  /* border: 3px solid red; */

}

.itemShowImage{
  /* border: 3px solid red; */
  width: 60%;
}

.letterShowImage{
  width: 100%;
}

.tileItem{
  font-size: 40px;
  font-weight: 600;
}

.defineText{
  font-size: 24px;
  font-weight: 400;
}