

.wordShow{
  margin-top: 8rem;
  display: flex;
  flex-direction: row;

}

.wordShow div{
  /* border: 3px solid red; */
  display: inline-block;
  width: 50%;
}

.rightShowCard{
  border: 5px solid rgb(176, 21, 214);
  border-radius: 10px;
  padding: 0.7rem;
  text-align: center;
  margin: 0 1rem 0 0.5rem;
  box-shadow: 5px 5px black;
}

.leftLetter{
  margin: 0 0.5rem 0 1rem;
  /* border: 3px solid red; */

}

.itemShowImage{
  /* border: 3px solid red; */
  width: 80%;
}

.letterShowImage{
  width: 100%;
}

.tileItem{
  font-size: 40px;
  font-weight: 600;
}