/* .game{
  margin-top: 8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vw;
  border: 3px solid red;
}

.cardGrid{
  border: 3px solid red;
  vertical-align: center;
  height: 60%;
  padding: 1rem;
  margin-top: 1rem;
  display: inline-grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  background-color: pink;
  border-radius: 10px;

}
 */
