body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("/bg.jpg"); */

  background-image: url('https://www.stockvault.net/data/2018/08/16/253826/preview16.jpg');
  background-size: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
